/* HTML */
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

/* Body */

body {
    margin: 0;
    padding: 0;
    min-width: 768px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    background-color: #f2f2f2;
}

 /* Img */

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
.filters__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 /* Container */

.container {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
            box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

 /* Page */

.page-header {
    position: relative;
    background-color: #fff;
    z-index: 1;
}

 /* Logo */

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
    z-index: 1;
}

 /* Main */

.main-nav__menu {
    display: -webkit-box;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav {
    position: relative;
    padding-left: 6%;
    padding-right: 6%;
}

.main-nav__item {
    width: 23%;
    padding: 15px 0;
}

.main-nav__item--left-side {
    padding-right: 40px;
}

.main-nav__item--right-side {
    text-align: right;
    padding-left: 40px;
}

.main-nav__item--left-side + .main-nav__item--right-side {
    margin-left: auto;
}

.main-nav__item-link {
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
    color: #333;
}

.main-nav__item-link--active {
    color: #766357;
}

.main-nav__item-link:hover:not(.main-nav__item-link--active),
.main-nav__item-link:focus {
    color: #81b3d2;
}

.main-nav__item-link:active:not(.main-nav__item--active) {
    color: rgba(0, 0, 0, 0.3);
}

 /* Showcase */

.showcase {
    position: relative;
    min-height: 508px;
    padding-top: 76px;
    padding-bottom: 80px;
    background-color: #e3edf6;
}

.showcase::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    width: 100%;
    height: 58px;
    background: url(../img/showcase_shape.png) no-repeat center bottom;
    background-size: 100% auto;
    z-index: 1;
}

.showcase__img {
    position: relative;
    display: block;
    width: 458px;
    height: 352px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.showcase-bg {
    position: absolute;
    display: block;
    top: 200px;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transform: translateY(-28.5%);
        -ms-transform: translateY(-28.5%);
            transform: translateY(-28.5%);
    z-index: 1;
}

 /* About */

.about {
    position: relative;
    padding: 60px 6% 53px;
    text-align: center;
    background-color: #fff;
    z-index: 1;
}

.about__info {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.about__title {
    margin: 0 0 30px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.about__lead {
    margin: 0;
}

 /* Reason */
.reason {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 256px;
  overflow: hidden;
}

.reason__info {
    width: 33.33%;
    min-height: 256px;
    -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
    padding: 47px 38px 39px;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
}

.reason__img {
    position: relative;
    width: 66.66%;
    background-color: #deebf4;
    height: inherit;
}

.reason__img img {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    height: inherit;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.reason__title {
    margin: 0 auto 23px;
    max-width: 160px;
    font-size: 21px;
    line-height: 21px;
}

.reason__text {
    margin-top: 21px;
    margin-bottom: 0;
}

 /* Features */

.features {
    padding: 56px 0 82px;
}

.features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features__item {
    position: relative;
    width: 33.33%;
    padding-left: 48px;
    padding-right: 48px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top: 105px;
    text-align: center;
}

.features__item::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
}

.features__item--house::before {
    top: 4px;
    margin-left: -38px;
    width: 75px;
    height: 72px;
    background: url(../img/house-icon.svg) no-repeat top center;
    background-size: 75px 72px;
}

.features__item--food::before {
    top: 5px;
    margin-left: -42px;
    width: 74px;
    height: 70px;
    background: url(../img/burger-icon.svg) no-repeat top center;
    background-size: 74px 70px;
}

.features__item--souvenirs::before {
    top: 0;
    margin-left: -32px;
    width: 64px;
    height: 76px;
    background: url(../img/gift-icon.svg) no-repeat top center;
    background-size: 64px 76px;
}

.features__item-title {
    margin: 0 0 23px;
    font-size: 21px;
    line-height: 21px;
}

.features-__item-text {
    margin: 0;
}

 /* Reasons */

.reasons{
    padding: 47px 0 60px;
    background-color: #f2f2f2;
}

.reasons__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.reasons__item {
    position: relative;
    width: 33.33%;
    padding-left: 48px;
    padding-right: 48px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
}

.reasons__item-title {
    margin: 0 auto 23px;
    max-width: 160px;
    font-size: 21px;
    line-height: 21px;
}

.reasons__item-text {
    margin: 21px 0 0;
}

 /* Search */

.search {
    padding-top: 50px;
}

.search__info {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.search__title {
    margin: 0 0 24px;
    font-size: 30px;
    line-height: 36px;
}

.search__text {
    margin: 0;
    line-height: 24px;
}

.search__map-wrapper {
    margin-top: 47px;
    overflow: hidden;
}

.search__form-wrapper {
    position: relative;
    width: 568px;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    position: absolute;
    padding: 55px;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
            box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    z-index: 1;
}

.search__open-btn {
    position: relative;
    width: 100%;
    z-index: 2;
}

.search-form__label {
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 112px;
    padding: 6px 15px 6px 0;
    line-height: 26px;
    font-weight: 700;
    color: #000;
}

.search-form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction:row;
           flex-direction: row;
    -webkit-box-align: center;
       -ms-flex-align: center;
    align-items: center;
}

.search-form__row + .search-form__row {
    margin-top: 29px;
}

.search-form__input-wrapper {
    position: relative;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-flow: 1;
        flex-flow: 1;
}

.search-form__input-wrapper--counter .search-form__input {
    width: 38px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.search-form__input {
    padding: 6px 15px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 26px;
    height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    background-color: #f2f2f2;
    width: 100%;
    outline: none;
}

.search-form__input:hover {
    background-color: #ebebeb;
}

.search-form__input:focus {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
            box-shadow: inset 0 0 0 2px #e5e5e5;
}

.search-form__input::-webkit-input-placeholder {
    color: #000;
}

.search-form__input:-ms-input-placeholder {
    color: #000;
}

.search-form__input::placeholder {
    color: #000;
}

.search-form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}

.search-form__input::-moz-placeholder {/* Firefox 19+ */
    color: #000;
    opacity: 1;
}

.search-form__input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}

.search-form__input:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

.search-form__input-wrapper--calendar .search-form__input {
    padding-right: 45px;
}

.search-form__calendar-btn {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 39px;
    height: 38px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.search-form__calendar-btn:hover .search-form__calendar-icon,
.search-form__calendar-btn:focus .search-form__calendar-icon {
    fill: #000;
}

.search-form__calendar-btn:active .search-form__calendar-icon {
    fill: #81b3d2;
}

.search-form__input-wrapper--counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 114px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.search-form__input-control {
    position: relative;
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: 0;
}

.search-form__input-control--plus::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    width: 11px;
    height: 3px;
    border-radius: 1px;
    background-color: #a9a9a9;
}

.search-form__input-control--plus::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 17px;
    width: 3px;
    height: 11px;
    border-radius: 1px;
    background-color: #a9a9a9;
}

.search-form__input-control--minus::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    width: 12px;
    height: 3px;
    border-radius: 1px;
    background-color: #a9a9a9;
}

.search-form__input-control:hover::before,
.search-form__input-control:hover::after,
.search-form__input-control:focus::before,
.search-form__input-control:focus::after {
  background-color: #000;
}

.search-form__input-control:active::before,
.search-form__input-control:active::after {
  background-color: #81b3d2;
}

.search-form__submit {
    margin-top: 55px;
    width: 100%;
}

.search-form--hide {
    -webkit-animation: formhide 0.7s forwards;
            animation: formhide 0.7s forwards;
}

.search-form--show {
    webkit-animation: formshow 0.7s forwards;
          animation: formshow 0.7s forwards;
}

@-webkit-keyframes formshow {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes formshow {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes formhide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes formhide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.search-form__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.search-form__row--columns {
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
    justify-content: space-between;
}

.search-form_column--2 .search-form_label {
    text-align: right;
    padding-right: 26px;
    padding-left: 26px;
}

.search-form__calendar-icon {
    fill: #cacaca;
}

 /* Btn */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 3px 17px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    background-color: #81b3d2;
    text-transform: uppercase;
    text-align: center;
}

.btn:hover,
.btn:focus {
    background-color: #669ec0;
}

.btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.btn.btn--action {
    background-color: #766357;
}

.btn.btn--action:hover,
.btn.btn--action:focus {
    background-color: #604e43;
}

.btn.btn--action:active {
    background-color: #503e33;
}

.btn.btn--large {
    font-size: 21px;
    line-height: 26px;
    padding: 30px 50px;
}

.btn.btn--medium {
    font-size: 21px;
    line-height: 26px;
    padding: 16px 48px;
}

 /* Map */
.map {
    position: relative;
    min-height: 593px;
    background-color: #f2f2f2;
    overflow: hidden;
}

.map__content {
    width: 100%;
    height: 100%;
    min-height: 593px;
}

.map .map__img {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-600px);
        -ms-transform: translateX(-600px);
            transform: translateX(-600px);
    display: block;
    width: 1200px;
    max-width: inherit;
    height: 593px;
}

 /* Footer */
.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    padding: 32px 0;
    min-height: 120px;
}

.page-footer--index {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.page-footer__more-info,
.page-footer__social,
.page-footer__developer {
    width: 33.33%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
}

.page-footer__more-info {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.page-footer-visit-link {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.page-footer-phone-link {
  font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.page-footer-visit-link:hover,
.page-footer-visit-link:focus {
    color: #81b3d2;
}

.page-footer-visit-link:active {
    color: rgba(0, 0, 0, 0.3);
}

/* Social */

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
    justify-content: center;
}

.social__item {
    margin: 4px 3px;
}

.social__link {
    position: relative;
    display: block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social__link:hover {
    background-color: #669ec0;
}

.social__link:active {
    background-color: #5496bd;
}

.social__link:active::before {
    opacity: 0.3;
}

.social__link::before {
    content: "";
    position: absolute;
    display: block;
}

.social__link--tw::before {
    top: 17px;
    left: 15px;
    width: 17px;
    height: 15px;
    background: url(../img/twitter-icon.svg) no-repeat center;
}

.social__link--fb::before {
    top: 13px;
    left: 17px;
    width: 12px;
    height: 22px;
    background: url(../img/fb-icon.svg) no-repeat center;
}

.social__link--YT::before {
    top: 16px;
    left: 13px;
    width: 20px;
    height: 16px;
    background: url(../img/youtube-icon.svg) no-repeat center;
}

/* Developer */

.developer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.developer__text {
    display: block;
    margin-right: 6px;
    color: #000;
}

.developer__logo-link {
    display: block;
    width: 115px;
    height: 41px;
}

.developer__logo {
    width: 115px;
    height: 41px;
    fill: #231f20;
}

.developer__logo:hover,
.developer__logo-link:focus .developer__logo {
    fill: #81b3d2;
}

.developer__logo:active {
    fill: #bdbbbc;
}

/* Filters */
.hotels-filters {
    background: #83accb url(../img/form__bg.jpg) no-repeat center;
    background-size: 100% auto;
    padding: 27px 0 30px;
    min-height: 217px;
    color: #000;
}

.filters__layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}

.filters__fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.filters__price-fieldset {
    padding: 0 0 0 3.33%;
    margin: 0;
    border: 0;
}

.filters__options {
    padding-left: 6%;
    width: 21.19%;
    min-width: 240px;
}

.filters__price {
    padding-right: 6%;
    width: 33.42%;
    margin-left: auto;
    min-width: 276px;
}

.filters__legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin: 0 0 24px 0;
}

.filters__price-legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.filters-btn {
    padding: 5.5px 34px;
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    border: 2px solid #fff;
    border-radius: 2px;
}

.filters-btn:hover,
.filters-btn:focus {
    color: #000;
    background-color: #fff;
}

.filters__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filters__checkbox-label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filters__checkbox-label::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background: url(../img/checkbox-off.svg) no-repeat top left;
    background-size: 23px 23px;
}

.filters__checkbox:checked + .filters__checkbox-label::before {
    background-image: url(../img/checkbox-on.svg);
    background-size: 27px 23px;
    width: 27px;
    height: 23px;
}

.filters__checkbox:focus + .filters__checkbox-label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filters__checkbox:disabled + .filters__checkbox-label {
    color: #6a6a6a;
}

.filters__checkbox:disabled + .filters__checkbox-label::before {
    background-image: url(../img/checkbox-off-disabled.svg);
}

.filters__checkbox:checked:disabled + .filters__checkbox-label::before {
    background-image: url(../img/checkbox-on-disabled.svg);
}

.filters__item + .filters__item {
    margin-top: 23px;
}

.filters__price-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    border: 2px solid #fff;
    border-radius: 2px;
}

.filters__price-input {
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    color: #fff;
    width: 30px;
}

.filters__price-input--min {
    /*width: 10px;*/
}

.filters__price-label {
    position: relative;
    width: 50%;
    text-align: center;
}

.filters__price-label:nth-child(2):before {
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: 0;
    width: 2px;
    height: 22px;
    background-color: #fff;
}

.filters__price-range {
    position: relative;
    padding: 20px 0;
}

.filters__price-scale {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.filters__price-scale-value {
    width: 80%;
    height: 100%;
    background-color: #fff;
}

.filters__price-control {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translate(-50%);
    border: 8px solid #fff;
    background-color: #ababab;
    border-radius: 50%;
    text-indent: -1000px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
            box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
    cursor: pointer;
}

.filters__price-control:hover {
    left: -1px;
    width: 22px;
    height: 22px;
    border-width: 9px;
}

.filters__price-control--max {
    margin-left: 80%;
}

.filters__apply {
    margin-top: 12px;
    text-align: center;
}

/* Hotels */
.hotels__sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
        -webkit-box-align: center;
           -ms-flex-align: center;
              align-items: center;
    padding: 29px 6% 31px;
    border-bottom: 1px solid #e5e5e5;
}

.hotels__sort-result-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    min-width: 135px;
    margin-right: 5px;
}

.hotels__sort-types {
    margin-top: 5px;
}

.hotels__sort-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    color: #000;
}

.hotels__sort-link {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}

.hotels__sort-link--active {
    color: #81b3d2;
    border-color: transparent;
    pointer-events: none;
}

.hotels__sort-link:hover,
.hotels__sort-link:focus {
    color: #81b3d2;
}

.hotels__sort-link:active {
    color: #000;
    border-color: transparent;
}

.hotels__sort-list-title {
    margin-right: 38px;
}

.hotels__sort-item + .hotels__sort-item {
    margin-left: 34px;
}

.hotels__updown-sort {
    margin-top: 3px;
    margin-right: 1px;
    margin-left: auto;
}

.hotels__updown-sort-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotels__updown-sort-item + .hotels__updown-sort-item {
    margin-left: 12px;
}

.hotels__updown-sort-link {
    display: block;
    width: 11px;
    height: 10px;
    border-width: 10px 5.5px;
    border-color: #cacaca;
    border-style: solid;
    text-indent: -1000px;
    overflow: hidden;
}

.hotels__updown-sort-link:hover,
.hotels__updown-sort-link:focus {
    border-color: #000;
}

.hotels__updown-sort-link:active {
    border-color: #81b3d2;
}

.hotels__updown-sort-link--active {
    border-color: #81b3d2;
    pointer-events: none;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.hotels__updown-sort-link.hotels__updown-sort-link--up {
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.hotels__updown-sort-link.hotels_updown-sort-link--down {
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.hotels__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotels__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    padding: 25px 6% 30px;
    border-bottom: 1px solid #e5e5e5;
}

.hotels__item-photo {
    padding-top: 5px;
    margin-right: 30px;
}

.hotels__item-photo img {
    display: block;
    width: 135px;
    height: 90px;
}

.hotels__item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    margin-top: 7px;
}

.hotels__item-type {
    min-width: 110px;
    margin-right: 6px;
}

.hotels__item-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    margin-top: 14px;
}

.hotels__more-info {
    margin-right: 6px;
}

.hotels__item-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.hotels__item-name:hover,
.hotels__item-name:focus {
    color: #81b3d2;
}

.hotels__item-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels__item-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
}

.hotels__item-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    margin-top: 4px;
    width: 114px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.star {
    width: 18px;
    height: 17px;
    text-indent: -1000px;
    overflow: hidden;
    background: url(../img/star.svg) no-repeat top left;
    background-size: 18px 17px;
}

.star + .star {
    margin-left: 5px;
}

.rating {
    display: inline-block;
    vertical-align: top;
    padding: 3px 14px 3px;
    min-width: 110px;
    background-color: #f2f2f2;
    -ms-flex-item-align: end;
    align-self: flex-end;
}











